#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background:#e6e4e4;
  font-size: 1.6rem;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}
